<footer id="footer">	
	<section class = "ui four blue inverted item menu">
		<a class ="item" href = "../strands/about.html">About</a>
		<a class ="item" href = "../strands/more.html">More</a>
		<a class ="item" href = "../strands/help.html">Help</a>	
		<a class ="item" href = "../strands/bookings.html">Bookings</a>		
	</section>
</footer>