<header id ="header">
	<section class="ui raised segment">
		<div class="ui three column grid">
      <div class="left aligned column">
        <a href = "../index.html"><i class="big rocket icon"></i></a>
      </div>
      <div class="center aligned column">
      	<h2><a href = "../index.html">Earth</a></h2>
 	 </div>
      <div class="right aligned column">
        <h2><a href = "../index.html">Universal eBrochures</a></h2>
      </div>
    </div>
</section>
</header>