<nav>	
	<section class = "ui eleven blue inverted stackable item menu">
		<a class ="item" href = "../strands/human.html">Humans</a>
		<a class ="item" href = "../strands/animals.html">Animals</a>
		<a class ="item" href = "../strands/cities.html">Cities</a>
		<a class ="item" href = "../strands/music.html">Music</a>
		<a class ="item" href = "../strands/history.html">History</a>
		<a class ="item" href = "../strands/bookings.html">Bookings</a>
		<a class ="item" href = "../strands/guidebook.html">Guidebook</a>
		<a class ="item" href = "../strands/wonders.html">Wonders</a>
		<a class ="item" href = "../strands/technology.html">Technology</a>	
		<a class ="item" href = "../strands/about.html">About</a>
		<a class ="item" href = "../strands/help.html">Help</a>
	</section>
</section>
</nav>