<section class ="ui divided grid">
	<section class="ui black five column stackable row" >
		<article class="column">
			<h3><a href ="../strands/human.html">Humans</a></h3>
			<p class ="small">
				Humans, the odd, terrifying and most prominent creature of the planet. 
			</p>
		</article>
		<article class="column">
			<h3><a href ="../strands/animals.html">Animals</a></h3>
			<p class ="small">
				There are countless animals that inhabit the earth. Go here to find out about some of them!
			</p>
		</article>
		<article class="column">
			<h3><a href ="../strands/cities.html">Cities</a></h3>
			<p class ="small">
				Humans have been carving the planet to suit them for centuries. Find out some of their greatest architectural achievements.
			</p>
		</article>
		<article class="column">
			<h3><a href ="../strands/music.html">Music</a></h3>
			<p class ="small">
				For as long as mankind has existed, mankind has formed some sort of attachment to the sounds it has created. They call it Music.
			</p>
		</article>
			<article class="column">
			<h3><a href ="../strands/history.html">History</a></h3>
			<p class = "small">
				A brief history of what the humans got up to over the years.
			</p>
		</article>
	</section>
	<section class="ui grey five column stackable row">
		<article class="column">
			<h3><a href ="../strands/bookings">Bookings</a></h3>
			<p class = "small">
				Here you can book a trip straight through to the fantasy land. Come join the fun!
			</p>
		</article>
		<article class="column">
			<h3><a href ="../strands/guidebook.html">Guidebook</a></h3>
			<p class = "small">
				Important: It is required that all visitors to the planet read and abide by the guidebook at all times.
			</p>
		</article>
		<article class=" column">
			<h3><a href ="../strands/technology.html">Technology</a></h3>
			<p class = "small">
				Some of the wackiest inventions the humans have come up with.
			</p>
		</article>
		<article class=" column">
			<h3><a href ="../strands/culture.html">Culture</a></h3>
			<p class = "small">
				Each part of the world has developed its own different culture and traditions, read here to find out about some of them.
			</p>
		</article>
			<article class=" column">
			<h3><a href ="../strands/wonders.html">Wonders</a></h3>
			<p class = "small">
				What the humans call the "Wonders" of the world.
			</p>
		</article>
	</section>
</section>